@{
    ViewData["Title"] = "Home Page";
}

<main class="l-general-content">
    <section>
        <div>
            <h2>landing page</h2>
            <button id="showToastBtn" class="btn btn-warning">Show Toast</button>
        </div>
    </section>
</main>

<script type="module">
    import Toast, { ToastLength } from '/js/Modules/toast.js';


    document.getElementById('showToastBtn')?.addEventListener('click', () => {
        Toast.warning("This is a toast triggered by button!");
    });
</script>
